/* this is required and for all  */

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&family=Inter&family=Josefin+Sans&family=Montserrat&family=Noto+Sans&family=Open+Sans&family=Roboto&family=Sora&family=Source+Sans+Pro&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* help to remove underline mark */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.nav-links a{
    color: #fff;
}

/* logo */
.logo{
    font-size: 32px;
}

/* navbar menu */
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
background-color: #4c9e9e;
border-radius: 5px;
transition: 0.3s ease;
}

.menu li{
    padding: 5px 14px;
}

