/* this is required and for all  */

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&family=Inter&family=Josefin+Sans&family=Montserrat&family=Noto+Sans&family=Open+Sans&family=Roboto&family=Sora&family=Source+Sans+Pro&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bangers&family=Inter&family=Josefin+Sans&family=Montserrat&family=Noto+Sans&family=Open+Sans&family=Pacifico&family=Roboto&family=Sora&family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* help to remove underline mark */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f3ff;
    color:#475569 ;
    margin: 5px;
    border-radius: 5px;
}

.nav-links a{
    color: #475569;
}

/* logo */
.logo{
    font-size: 32px;
    font-family: 'Pacifico', cursive;
}

/* navbar menu */
.menu{
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
background-color: #94a3b8;
border-radius: 5px;
transition: 0.3s ease;
}

.menu li{
    padding: 5px 14px;
}
input[type=checkbox]{
    display: none;
}

.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}

/* this for when screen size is almost mobile size */

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover{
display: inline-block;
background-color: #4c9e9e;
transition: 0.3s ease;


    }
.menu li + li {
    margin-top: 12px;
}

input[type=checkbox]:checked ~ .menu{
    display: block;
}
.hamburger{
    display: block;
}


}